body {
    background-image: url('images/aboutme\ last\ bkg.png');
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0%;
    color: #FEFAE0;

}

@media only screen and (max-width: 391px)  {

body{
    background-image: url('images/aboutme-390-bkg.png');
}

}
 

.allshit{
    margin-left: 7.3%;
    margin-right: 7.3%;
}


/* STYLING H4 EVERYWHERE */
h4 {
    font-family: Outfit;
    font-size: 2vw;
    font-weight: 900;
    margin-top: 0%;

}
/*STYLE P EVERYWHERE */
p {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
}


/* STYLE H2 EVERYWHERE */
h2 {
    color: var(--d-9-d-9-d-9, #FEFAE0);
    text-shadow: 30px 20px 3px rgba(0, 0, 0, 0.50);
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    line-height: 100.5%;
    margin-top: 1%;
}

@media only screen and (max-width: 391px)  {
h2{
    font-size: 30px;
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.50);
}
}




/* STYLING THE HEADER */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 1% 7.3%;

}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: #FEFAE0;
    transition: color 0.3s ease;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: large;
    
}
.navbar-right a:hover {
    color: #F2542D;
}
.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.navbar-left{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}
.navbar-right a{
    margin-left: 20px;
}
.navbar-right {
    margin-left:20px;
}
.navbar-center img {
    height: 50px;
    display: block;
    margin: 0 auto;
    
}


/* HERO SECTION */
.findings-fieldr {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 15%;
    box-sizing: border-box;
}

/* Left content styles */
.fieldr-left {
    flex: 1;
    padding: 3vw; 
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}

/* Image inside left content */
.fieldr-left img {
    max-width: 80%;
    height: auto;
    margin-left: 15%;
}

/* Right content styles */
.fieldr-right {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
}

.second h2{
font-size: 3vw;
margin-top: -5%;
}

.responsive-hero{
    display: none;
}




@media only screen and (max-width: 391px)  {
.findings-fieldr{
    display:none;
}

.responsive-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15%;
}

.fieldr-right h2 {
    font-size: 40px;
    margin-left: 10%;
}

.second h2{
    font-size: 20px;
    margin-top: -5%;
}

.fieldr-right {
margin-top: 90%;
}

.fieldr-left {
    flex: 1;
    padding: 3vw; 
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 100%; 
}

/* Image inside left content */
.fieldr-left img {
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 20%;
}

.grey-text {
    color: #b7b7b7;
    font-size: 16px;
}

}

.responsiveline{
    display: none;
}



/* WHAT AM I LIKE*/
.whatamilike {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 15%;
    box-sizing: border-box;
}

/* Left content styles */
.leftlike {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 40%; 
}

/* Right content styles */
.rightlike {
    flex: 1;
    box-sizing: border-box;
}

.rightlike img {
    max-width: 80%;
    height: auto;
    margin-left: 15%;
}



@media only screen and (max-width: 391px)  {
.responsiveline{
    display: block;
}


.whatamilike {
    flex-direction: column;
}

.leftlike {
    max-width: 100%; 
}

.rightlike img {
    max-width: 95%;
    margin-left: 0%;
    margin-top: 10%;
}


}



/* STYLING THE THIN LINE */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thin-line {
    width: 100%;
    height: 1px;
    background-color: #fefae041;
    margin-bottom: 10%;
}




/* STYLING THE I LOVE SECTION */
.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.image {
    position: relative;
    width: calc(14.28% - 20px); /* Adjust the width and spacing as needed */
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    transition: filter 0.3s; /* Add filter transition */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s; /* Adjust the transition duration */
}

.image:hover img {
    filter: blur(5px); /* Blur the image on hover */
}

.image:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: #fff;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 768px) {
    .image {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 480px) {
    .image {
        width: calc(100% - 20px);
    }

    .overlay {
        width: 62%;
        height: 100%;
    }
}



.responsive-travel{
    display: none;
}


/* TRAVEL SECTION */
.travel {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 15%;
    box-sizing: border-box;
}

/* Left content styles */
.lefttravel {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}

/* Image inside left content */
.lefttravel img {
    max-width: 80%;
    height: auto;
}

/* Right content styles */
.righttravel {
    flex: 1;
    box-sizing: border-box;
}

.righttravel p {
margin-top: 0%;
}

.travellist p {
margin: 0%;
}


@media only screen and (max-width: 391px)  {

.travel{
    display: none;
}

.responsive-travel{
    display: flex;
    flex-direction: column;
}

.lefttravel{
    width: 100%;
    max-width: 100%;
}

.lefttravel img {
    max-width: 100%;
    margin-top: 10%;
}

}











/* STYLING THE SHOES */
.shoes {
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 12%;
    margin-bottom: 0%;
  }
  
  .centered-image img {
    max-width: 100%;
    height: auto;
  }
  



/* STYLING THE LINE FOR FOOTER */
.linefooter {
    margin-left: 7.3%;
    margin-right: 7.3%;
    height: 1px;
    background-color: #fefae041;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    background-color: #242424;
    background: linear-gradient(180deg, #212121 0%, #171717 37.53%, rgba(0, 0, 0, 0.00) 104.41%);
    color: #FEFAE0;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .footer-links a {
    text-decoration: none;
    color: #F2542D;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.7svw;
    margin: 0 6%;
  }

.footer-copyright p {
    margin-top: 2%;
    font-size: 2vw;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.5vw;
  }

  


  @media only screen and (max-width: 391px)  {
    .footer-links a {
    font-size: 16px;
    }
  
    .footer-copyright p {
    font-size: 12px;
    }
  
    .shoes img {
    width: 60%;
    margin-top: 40%;
    }
  }





/* STYLE RESPONSIVE NAV BAR */
.burger {
    display: none;
}

.burger-line{
    width: 20px;
    height: 3px;
    background-color: #FEFAE0;
    margin-bottom: 4px;
}





@media all and (max-width: 800px) {

    .burger{
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar-inner{
        flex-direction: column;
    }

    .navbar-center{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .navbar-left{
        display: none;
    }

    .navbar-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0%;
        display: none;
    }

    .navbar-right a{
        margin: 0%;
        margin-top: 30%;
    }


    .active{
        display: flex;
    }

    
}
