body {
    background-image: url('images/onlygrainDESKTOP.png');
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0%;
    color: #FEFAE0;

}

.allshit{
    margin-left: 7.3%;
    margin-right: 7.3%;
}


/* STYLING H4 EVERYWHERE */
h4 {
    font-family: Outfit;
    font-size: 2vw;
    font-weight: 900;
    margin-top: 0%;

}


/* STYLING THE THYN LINE */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thin-line {
    width: 100%;
    height: 1px;
    background-color: #fefae041;
    margin-top: 6%;
    margin-bottom: 6%;
}

/* STYLING THE HEADER */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 1% 7.3%;

}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: #FEFAE0;
    transition: color 0.3s ease;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: large;
    
}

.navbar-right a:hover {
    color: #F2542D;
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-left{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.navbar-right a{
    margin-left: 20px;
}
.navbar-right {
    margin-left:20px;
}

.navbar-center img {
    height: 50px;
    display: block;
    margin: 0 auto;
    
}



/* STYLING THE HEADINGS */
.section1skills {
    text-align: left;
    margin-top: 6.7%;
}



h2 {
    color: var(--d-9-d-9-d-9, #FEFAE0);
    text-shadow: 30px 20px 3px rgba(0, 0, 0, 0.50);
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    line-height: 100.5%;
    margin-top: 1%;
}




/* STYLING THE SOCIAL ICONS IN CONTACT */
.image-section {
    display: flex;
    justify-content:center;
    align-items: center;
}

.image-box {
    width: 10;
    padding: 5%;
    background-color: #357677;
    border-radius: 10px;
    text-align: center;
    margin: 3%;
  }

/* STYLING THE DOWNLOAD CV IN CONTACT */
  .download-cv {
    text-align: center;
    margin-top: -3%;
  }
  
  .colored-text {
    display: inline-block;
    font-family: Londrina Solid;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
  }
  
  .white {
    color: #FEFAE0;
  }
  
  .orange {
    color: #F2542D;
  }










/* STYLING THE COVER IMAGE IN TCC */
.coverimage img{
    width: 100%;
    z-index: 2;
    margin-top: -8%;
}
 





/* STYLE THE PROJECT BRIEF SECTION*/
.prjbrief {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lefttext {
    flex: 50%;
    display: flex;
    flex-direction: column;
}


.rightimg img {
    max-width: 80%;
    height: auto;
    margin-left: 15%;
}


  /*little pharagraph in SECRET PAGE and brief section in TCC */
p {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
}


/* style the headings in the project brief in TCC */
.item h4 {
    margin-bottom: 1%;
    color: var(--orange, #F2542D);
    font-family: Londrina Solid;
    font-size: 1.5vw;
    margin-top: 3%;
    margin-bottom: 1%;
    font-style: normal;
    font-weight: 300;
    line-height: 1%;
    text-transform: uppercase;
}






/* STYLING THE BACKGROUND INFO FOR TCC */
.bkginfo {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.bkginfo img {
    max-width: 90%;
    height: auto;
}




/* STYLE THE CHALLENGE AND SOLUTION*/
.challenge-solution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    align-self: stretch;
}



.lefttext h3 {
    font-size: 32px;
    margin-bottom: 3%;
    padding: 3% 5%;
} 

.rightimg {
    flex: 40%;
    text-align: center;
}

.tcc-img-letters {
max-width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}








/* STYLING MY CONTRIBUTION */
.column-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
  }
  
  .column {
    flex: 1;
    padding: 3%;
    text-align: center;
    padding-bottom: 8%;

  }
  
  .title {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;

    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 2.2vw;

    font-weight:800;
    margin-bottom: 15%;
    background-color: #242424;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FEFAE0;

  }
  
  .description {
    color: #FEFAE0;
    text-align: center;
    font-family: Outfit;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .iconskill{
    max-width: 100%;
    height: auto;
  }


  .linebutton {
    display: flex;
    justify-content:left;
    align-items: center;
  }





  /* STYLING THE DD TEXT */
  .dd-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
  }

  .double-diamond h4 {
    font-family: Outfit;
    font-size: 2vw;
    font-weight: 900;
    margin-top: 0%;
    margin-bottom: 0%;
  }




/* STYLING THE CENTERED IMAGES */
  .centeredimg {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 10%;

}

.centeredimg img {
    max-width: 85%;
    height: auto;
    margin-bottom: 10%;
}




/* STYLING THE TRELLO IMG */
.trelloimg {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;

}

.trelloimg img {
    max-width: 70%;
    height: auto;
}





/* STYLING THE PHARAGRAPH FRIGHT AFTER THE PROCESS */
.textprocess p {
    font-family: Outfit;
    font-size: 1.4vw;
    font-weight: 300;
    max-width: 50%;
}






/* STYLING THE ANCHOR LINKS */
.sticky-buttons {
    position: sticky;
    top: 10%;
    background-color: #174343;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    z-index: 100;
}

.sticky-buttons a {
    text-decoration: none;
    color: #FEFAE0;
    padding: 1%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Londrina Solid;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
}

.sticky-buttons a:hover {
    background-color: #0b2626;
}


.sticky-buttons a.highlighted {
    background-color: #0b2626;
    color: #fff; 
}





/* ALL H3 */
h3 {
    display: flex;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    width: 25%;

    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 2.2vw;

    font-weight:800;
    margin-bottom: 5%;
    background-color: #242424;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FEFAE0;

}





/* STYLING THE DESK RESEARCH */
.ouraim-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
    box-sizing: border-box;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Content on left and right*/
.our-aim {
    flex: 1;
    padding: 3vw; 
    background-color: #242424;
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}





/* STYLING THE FINDINGS - COMPANY AND STYLE TILE */
.findings-company {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Left content styles */
.company-sticky-notes {
    flex: 1;
    padding: 3vw; 
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}

/* Right content styles */
.mvv {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
}

/* Image inside left content */
.company-sticky-notes img {
    max-width: 100%;
    height: auto;
}






/* STYLING THE FINDINGS - COMPETITION */
.findings-competition {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    box-sizing: border-box;
}

/* Left content styles */
.competition-sticky-notes {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
    max-width: 50%;
}

.competition-sticky-notes img {
    max-width: 100%;
    height: auto;
}

/* Middle content styles */
.incommon {
    flex: 0.25; /* 25% of available space */
    padding: 3vw;
    box-sizing: border-box;
}

/* Right content styles */
.unique {
    flex: 0.25; /* 25% of available space */
    padding: 3vw;
    box-sizing: border-box;
}





/* STYLING THE FINDINGS - THE TARGET GROUP */
.findings-targetgroup {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

/* Left content styles */
.trgg-sticky-notes {
    flex: 1;
    padding: 3vw; 
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}

.trgg-sticky-notes img {
    max-width: 100%;
    height: auto;
}

/* Right content styles */
.netnography {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
}

.netnography img {
    max-width: 100%;
    height: auto;
}





/* OVERVIEW OF FIELD RESEARCH */
.fieldresearch-info {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    box-sizing: border-box;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
}

/* left contents */
.methods {
    flex: 1;
    padding: 3vw;
    background-color: #242424;
    box-sizing: border-box;
    max-width: 50%;
}

/* middle contents */
.ouraim {
    flex: 0.25; /* 25% of available space */
    padding: 3vw;
    background-color: #242424;
    box-sizing: border-box;
}

/* right contents */
.interviewed {
    flex: 0.25; /* 25% of available space */
    padding: 3vw;
    background-color: #242424;
    box-sizing: border-box;
}






/* THE FINDINGS - FIELD RESEARCH */
.findings-fieldr {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    box-sizing: border-box;
}

/* Left content styles */
.fieldr-left {
    flex: 1;
    padding: 3vw; 
    box-sizing: border-box;
    overflow: hidden; 
    max-width: 50%; 
}

/* Image inside left content */
.fieldr-left img {
    max-width: 100%;
    height: auto;
}

/* Right content styles */
.fieldr-right {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
}






/* SUM UP OF RESEARCH for later */
/* .sumup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.sumup {
    text-align: left;
    max-width: 60%;
    padding: 5%;   
    box-sizing: border-box;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #242424;

}

.sumup h4 {
    font-size: 24px;
    font-weight: bold;
}

.sumup p {
    font-size: 16px;
    line-height: 1.5;
} */







/* IMAGES OF PERSONAS */
.pers {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.pers img {
    flex: 1; 
    max-width: 45%; 
    height: auto;
}

.pers img + img {
    margin-left: 5%;
}






/* LIST OF REQUIREMENTS */
.listofr {
    display: flex;
    justify-content: center;
}

.listofr img {
    flex: 1; 
    max-width: 35%; 
    height: auto;
}

.listofr img + img {
    margin-left: 10%;
}







/* STYLING THE IMAGE FOR TESTING 1 */
.widerimg {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.widerimg img {
    max-width: 80%;
    height: auto;
}




/* STYLING THE BACKGROUND INFO FOR TCC */
.video1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}

.video1 ifr{
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;

}




.dev-mockups {
    margin-bottom: 10%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    
    }
    
.dev-mockups img {
        max-width: 100%;
        height: auto;

}


/* STYLING THE BUTTON TO PROTOTYPE */
.button-figma {

    text-decoration: none;
    background-color: #F2542D;
    font-family: Londrina Solid;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #FEFAE0;
    padding: 2% 3%;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
  }




/* THE SECTIONS IN REFLECTION */
.findings-company h3{
width: 60%;
padding: 4% 3%;
margin-bottom: 10%;
}

.lazy-reflect{
    margin: 10%;
}

.lazy-reflect p {
    width: 80%;
}









/* STYLING THE SHOES */
.shoes {
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 12%;
    margin-bottom: 0%;
  }
  
  .centered-image img {
    max-width: 100%;
    height: auto;
  }
  



/* STYLING THE LINE FOR FOOTER */
.linefooter {
    margin-left: 7.3%;
    margin-right: 7.3%;
    height: 1px;
    background-color: #fefae041;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    background-color: #242424;
    background: linear-gradient(180deg, #212121 0%, #171717 37.53%, rgba(0, 0, 0, 0.00) 104.41%);
    color: #FEFAE0;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .footer-links a {
    text-decoration: none;
    color: #F2542D;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.7svw;
    margin: 0 6%;
  }

.footer-copyright {
    margin-top: 2%;
    font-size: 2vw;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.5vw;
    margin: 0 3%;
  }