body {
    background-image: url('images/onlygrainDESKTOP.png');
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0%;
    color: #FEFAE0;

}

.allshit{
    margin-left: 7.3%;
    margin-right: 7.3%;
}


/* STYLING THE HEADER */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 1% 7.3%;

}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: #FEFAE0;
    transition: color 0.3s ease;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: large;
    
}

.navbar-right a:hover {
    color: #F2542D;
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-left{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.navbar-right a{
    margin-left: 20px;
}
.navbar-right {
    margin-left:20px;
}

.navbar-center img {
    height: 50px;
    display: block;
    margin: 0 auto;
    
}


p {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
}



.burger {
    display: none;
}

.burger-line{
    width: 20px;
    height: 3px;
    background-color: #FEFAE0;
    margin-bottom: 4px;
}



@media all and (max-width: 800px) {

    .burger{
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar-inner{
        flex-direction: column;
    }

    .navbar-center{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .navbar-left{
        display: none;
    }

    .navbar-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0%;
        display: none;
    }

    .navbar-right a{
        margin: 0%;
        margin-top: 30%;
    }


    .active{
        display: flex;
    }

    
}