
body {
    background-image: url('images/backgroundDESK.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    color: #FEFAE0;

}



/* STYLING THE HEADER */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 1% 7.3%;

}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: #FEFAE0;
    transition: color 0.3s ease;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: large;
    
}

 .navbar-right a:hover {
    color: #F2542D;
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-left{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.navbar-right a{
    margin-left: 20px;
}
.navbar-right {
    margin-left:20px;
}

.navbar-center img {
    height: 50px;
    display: block;
    margin: 0 auto;
    
}




/* STYLING THE HERO SECTION */
.herosec {
    display: flex;
    align-items: center;
    justify-content:s;
    margin-top: 6.7%;
    width: 100%;
}

.text {
    flex: 1;
    margin-left: 7.3%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.3vw;
}

.herosec .text h1 {
    font-size: 3vw;
    font-weight: 900;
}

.image img {
    width: 50vw;
    max-width: 100%;
    height: auto;

}




/* STYLING THE THIN LINE */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thin-line {
    width: 90%;
    height: 1px;
    background-color: #fefae041;
}





/* STYLING THE HEADINGS */
.section1skills {
    text-align: left;
    margin-left: 7.3%;
    margin-right: 7.3%;
    margin-top: 6.7%;
}

/* STYLING FOR THE SUBHEADING */
.skills {
    margin-bottom: 1%;
    color: var(--orange, #F2542D);
    font-family: Londrina Solid;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
    }

h2 {
    color: var(--d-9-d-9-d-9, #FEFAE0);
    text-shadow: 30px 20px 3px rgba(0, 0, 0, 0.50);
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    line-height: 100.5%;
    margin-top: 1%;
}




/* STYLING THE UX/UI VISUALS EXECUTION */
.column-container {
    display: flex;
    justify-content: space-between;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top: 1%;
  }
  
  .column {
    flex: 1;
    padding: 4%;
    text-align: center;

  }
  
  .title {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;

    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 2.2vw;

    font-weight:800;
    margin-bottom: 15%;
    background-color: #242424;
    box-shadow: 30px 21px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FEFAE0;

  }
  
  .description {
    color: #FEFAE0;
    text-align: center;
    font-family: Outfit;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .iconskill{
    max-width: 100%;
    height: auto;
  }


  .linebutton {
    display: flex;
    justify-content:left;
    align-items: center;
  }




/* STYLING THE THIN LINE WITH BUTTON */
.thin-line {
    margin-left: 7.3%;
    margin-right: 1%;
    width: 70%;
    height: 1px;
    background-color: #fefae041;
}

.button {
    display: flex;
    justify-content:right;

    background-color: #F2542D;
    font-family: Londrina Solid;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #FEFAE0;
    padding: 0.5% 0.9%;
    border: none; 
    border-radius: 10%;
    cursor: pointer;
}






/* STYLING THE PROJECTS */
.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 7.3%;
    margin-right: 7.3%;
  }
  
  
  .single-item, .content {
    text-align: center;
  }
  
  img, .content {
    transition: 0.4s all;
  }
  
  .single-item {
    position: relative;
    max-width: 40%;
    margin: 2.5%; /* Adjust margin for spacing between items */
    box-shadow: 39px 33px 4px 0px rgba(0, 0, 0, 0.45); 
  }
  
  .single-item img {
    width: 100%;
    margin-bottom: 0%;
  }
  
  .single-item .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #FEFAE0;
    opacity: 0;
  }
  
  .single-item .content h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0%;
  }

  .single-item .content h4 {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2%;
  }

  .single-item .content h5 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    font-family: 'Outfit', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: -6%;
    margin-top: 15%;
  }
  
  .single-item .content p {
    font-family: Outfit;
    font-size: 1vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 17%;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .single-item:hover .content {
    opacity: 1;
  }
  
  .single-item:hover img {
    -webkit-filter: blur(20px);
    filter: blur(10px);
  }



/* STYLING THE LINE AFTER PROJECTS */
  .line {
    margin-left: 7.3%;
    margin-right: 7.3%;
    margin-top: 6%;
    height: 1px;
    background-color: #fefae041;
}
  



/* STYLING THE SOCIAL ICONS */
.image-section {
    display: flex;
    justify-content:center;
    align-items: center;
}

.image-box {
    width: 10;
    padding: 5%;
    background-color: #357677;
    border-radius: 10px;
    text-align: center;
    margin: 3%;
  }




/* STYLING THE DOWNLOAD CV */
  .download-cv {
    text-align: center;
    margin-top: -3%;
  }
  
  .colored-text {
    display: inline-block;
    font-family: Londrina Solid;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
  }
  
  .white {
    color: #FEFAE0;
  }
  
  .orange {
    color: #F2542D;
  }






/* STYLING THE SHOES */
  .shoes {
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 12%;
    margin-bottom: 0%;
  }
  
  .centered-image img {
    max-width: 100%;
    height: auto;
  }
  



/* STYLING THE LINE FOR FOOTER */
.linefooter {
    margin-left: 7.3%;
    margin-right: 7.3%;
    height: 1px;
    background-color: #fefae041;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    background-color: #242424;
    background: linear-gradient(180deg, #212121 0%, #171717 37.53%, rgba(0, 0, 0, 0.00) 104.41%);
    color: #FEFAE0;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .footer-links a {
    text-decoration: none;
    color: #F2542D;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.7svw;
    margin: 0 6%;
  }

.footer-copyright {
    margin-top: 2%;
    font-size: 2vw;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 1.5vw;
    margin: 0 3%;
  }

